<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:ital,wght@0,400;0,700;1,400&family=Fira+Code:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <header class="header">
    <div class="header-left">
      <span class="author-name">{{ site.author.name }}</span>
      <span class="affiliation">{{ site.author.affiliation }}</span>
    </div>
    <nav class="header-nav">
      <a href="{{ '/' | relative_url }}">Articles</a>
      <a href="{{ '/publications' | relative_url }}">Publications</a>
      <a href="{{ '/projects' | relative_url }}">Projects</a>
    </nav>
    <div class="header-links">
      <a href="https://github.com/{{ site.author.github }}" target="_blank">GitHub</a>
      <a href="https://x.com/{{ site.author.twitter }}" target="_blank">X</a>
      <a href="https://www.zhihu.com/people/{{ site.author.zhihu }}" target="_blank">知乎</a>
    </div>
  </header>
  <main class="main-content">
    {{ content }}
  </main>
</body>
</html>